.card {
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  transition: all ease-in-out 0.3s;
}
.card:hover {
  transform: scale(0.99);
}

.card > .img-container {
  height: 120px;
  width: auto;
  cursor: pointer;
  background-color: #17252a;
}
.card > .img-container:hover {
}

.card > .img-container > img {
  height: 100%;
  width: auto;
  opacity: 0.9;
  transition: all ease-in-out 0.3s;
}
.card > .img-container > img:hover {
  opacity: 1;
}
